---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  {% assign author = site.authors | where: 'name', page.author | first%}
  <p>Written by <a href="{{ author.url }}">{{ page.author }}</a> on {{ page.date | date: "%d.%m.%Y" }}. Tagged as 
    {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/notes/tag/{{ tag | downcase }}">#{{ tag }}</a>&nbsp;
    {% endfor %}
  </p>

  <div class="entry">
    {{ content }}
  </div>

  {% if page.cite %}
    <h4>Cite as</h4>
    <p>{{ page.author }} ({{ page.date | date: "%Y, %B %d" }}). <i>{{ page.title }}</i>. Retrieved <span id="today"></span>, from https://mathscapes.xyz{{ page.url }}. </p>
  {% endif %}
</article>

<script>
n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("today").innerHTML = d + "." + m + "." + y;
</script>