---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  {% assign author = site.authors | where: 'name', page.author | first%}
  <div class="meta"><ion-icon name="contact"></ion-icon> Written by <a href="{{ author.url }}">{{ page.author }}</a> &nbsp; <ion-icon name="calendar"></ion-icon> Posted on {{ page.date | date: "%d.%m.%Y" }} <br/> <ion-icon name="pricetags"></ion-icon> Tagged as  
    {% for tag in page.tags %}
      <a class="tag" href="{{ site.baseurl }}/notes/tag/{{ tag | downcase | replace: ' ', '-' }}">{{ tag }}</a>&nbsp;
    {% endfor %}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% if page.cite %}
    <h4><ion-icon name="quote"></ion-icon> Cite as</h4>
    <p>{{ page.author }} ({{ page.date | date: "%Y, %B %d" }}). <i>{{ page.title }}</i>. Retrieved <span id="today"></span>, from <a href="{{ page.url | relative_url }}">https://mathscapes.xyz{{ page.url }}</a>. </p>
  {% endif %}
</article>

<script>
n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("today").innerHTML = d + "." + m + "." + y;
</script>